.load{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 800px;
  display: grid;
  place-content: center;
  margin: auto 0;
  background-color: #fff;
  transition: opacity 0.7s, visibility 0.7s;
}

.load-hidden{
  opacity: 0;
  visibility: hidden;
}

.load::after{
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: purple;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading{
  from{
    transform: rotate(0turn)
  }
  to{
    transform: rotate(1turn);
  }
}
